.Rproj.user
.Rhistory
.RData
.Ruserdata
Rprof.out
src/*.o
src/*.so

*.o

*.so

tmp/

\.RDataTmp

*.out

*.Rout

src-i386/

src-x64/

paper_experiments/res/single_res/

paper_experiments/res/single_res_old/
inst/doc

docs/*
