version: 2
jobs:
  build:
    docker:
      - image: rocker/rstudio:3.5.1
    steps:
      - checkout
      - run:
          name: Set environmental variables
          command: |
            Rscript --vanilla \
              -e 'dsc <- read.dcf("DESCRIPTION")' \
              -e 'cat(sprintf("export PKG_TARBALL=%s_%s.tar.gz\n", dsc[,"Package"], dsc[,"Version"]))' \
              -e 'cat(sprintf("export RCHECK_DIR=%s.Rcheck\n", dsc[,"Package"]))' \
              >> ${BASH_ENV}
      - restore_cache:
          keys:
            - deps1-{{ .Branch }}-{{ checksum "DESCRIPTION" }}
            - deps1-{{ .Branch }}
      - run:
          name: Install lib2git-dev
          command: apt-get update && apt-get install -y libgit2-dev
      - run:
          name: Install devtools
          command: R -e 'install.packages("devtools")'
      - run:
          name: Install dependencies
          command: R -e 'devtools::install_deps(dependencies = TRUE, upgrade = "never")'
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "DESCRIPTION" }}
          paths:
            - "/usr/local/lib/R/site-library"
      - run:
          name: Build package
          command: R CMD build . --no-examples --no-manual
      - run:
          name: Check package
          command: R CMD check "${PKG_TARBALL}" --no-examples
      - run:
          name: Move files
          command: mv ${RCHECK_DIR} /tmp/Rcheck
          when: always

      - store_test_results:
          path: /tmp/Rcheck/tests/
          when: always
      - store_artifacts:
          path: /tmp/Rcheck
          when: always
