# 25.03.25: Dared to go back to ubuntu-latest since ubuntu-20.04 is being deprecated
# https://github.com/actions/runner-images/issues/11101

# 01.09.23: Moved from ubuntu-latest to ubuntu-latest to avoid actions being cancelled
# This is potentially due to CPU quota being exceeded as suggested
# here: https://github.com/actions/runner-images/issues/6680 and
# here: https://github.com/actions/runner-images/discussions/7188)


# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
    paths-ignore:
      - 'python/**'
  pull_request:
    branches: [main, master]
    paths-ignore:
      - 'python/**'

name: lint

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::lintr, local::.
          needs: lint

      - name: Lint
        run: lintr::lint_package()
        shell: Rscript {0}
        env:
          LINTR_ERROR_ON_LINT: false
